/Anime/train/
/Anime/test/
/Anime2/train/
/Anime2/test/
/Anime3/train/
/Anime3/test/
/pfp/
/Anime Dataset 1/test/
/Anime Dataset 1/train/
/Anime Dataset 2/test/
/Anime Dataset 2/train/
/Anime Dataset 3/test/
/Anime Dataset 3/train/
/Anime Dataset 1/bottrainingoutput1.txt
/PFP Organized/
/test.py
/Bot/key.txt
